In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [4]:
# Import the API key.
import os
from dotenv import load_dotenv
load_dotenv()
Google_api_key = os.getenv("Google_api_key")
print(type(Google_api_key))

<class 'str'>

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaz,RU,2022-07-28 21:49:20,52.9113,87.3105,55.22,72,93,3.71
1,1,Kodiak,US,2022-07-28 21:49:20,57.7900,-152.4072,62.11,55,0,5.75
2,2,San Jose De Rio Tinto,HN,2022-07-28 21:49:21,14.9333,-85.7000,94.57,58,89,4.79
3,3,Rikitea,PF,2022-07-28 21:46:48,-23.1203,-134.9692,73.47,72,76,21.59
4,4,Arraial Do Cabo,BR,2022-07-28 21:49:22,-22.9661,-42.0278,75.06,60,0,8.05

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=Google_api_key)

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness 
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Arraial Do Cabo,BR,2022-07-28 21:49:22,-22.9661,-42.0278,75.06,60,0,8.05
10,10,Albany,US,2022-07-28 21:45:03,42.6001,-73.9662,88.36,70,72,10.98
12,12,Trincomalee,LK,2022-07-28 21:49:24,8.5711,81.2335,79.30,83,100,3.44
13,13,Touros,BR,2022-07-28 21:49:25,-5.1989,-35.4608,76.37,81,6,13.00
20,20,Jiuquan,CN,2022-07-28 21:49:28,39.7432,98.5174,75.43,15,2,9.95
25,25,Arlit,NE,2022-07-28 21:49:30,18.7369,7.3853,89.62,45,100,17.85
27,27,Mitsamiouli,KM,2022-07-28 21:49:31,-11.3847,43.2844,75.74,74,32,8.08
28,28,Cockburn Town,TC,2022-07-28 21:48:13,21.4612,-71.1419,81.43,74,2,19.19
32,32,Rapid Valley,US,2022-07-28 21:49:32,44.0625,-103.1463,81.59,31,0,11.01
34,34,Dzilam Gonzalez,MX,2022-07-28 21:49:33,21.2833,-88.9333,87.12,64,57,10.38

In [15]:
preferred_cities_df.count()

City_ID       221
City          221
Country       221
Date          221
Lat           221
Lng           221
Max Temp      221
Humidity      221
Cloudiness    221
Wind Speed    221
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4   Arraial Do Cabo      BR     75.06 -22.9661  -42.0278
10           Albany      US     88.36  42.6001  -73.9662
12      Trincomalee      LK     79.30   8.5711   81.2335
13           Touros      BR     76.37  -5.1989  -35.4608
20          Jiuquan      CN     75.43  39.7432   98.5174
25            Arlit      NE     89.62  18.7369    7.3853
27      Mitsamiouli      KM     75.74 -11.3847   43.2844
28    Cockburn Town      TC     81.43  21.4612  -71.1419
32     Rapid Valley      US     81.59  44.0625 -103.1463
34  Dzilam Gonzalez      MX     87.12  21.2833  -88.9333

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": Google_api_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"] 
    except (IndexError):
        print("Hotel not found... skipping.")
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Arraial Do Cabo,BR,75.06,-22.9661,-42.0278,Pousada Porto Praia
10,Albany,US,88.36,42.6001,-73.9662,
12,Trincomalee,LK,79.30,8.5711,81.2335,Welcombe Hotel
13,Touros,BR,76.37,-5.1989,-35.4608,INN NEW HORIZON
20,Jiuquan,CN,75.43,39.7432,98.5174,Jiuquan Hotel
25,Arlit,NE,89.62,18.7369,7.3853,Case de Passage De la Prefecture
27,Mitsamiouli,KM,75.74,-11.3847,43.2844,Foyer ADM
28,Cockburn Town,TC,81.43,21.4612,-71.1419,Osprey Beach Hotel
32,Rapid Valley,US,81.59,44.0625,-103.1463,Fairfield Inn & Suites by Marriott Rapid City
34,Dzilam Gonzalez,MX,87.12,21.2833,-88.9333,posadas

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))